<template>
  <div class="about">
    <h1>This is an about page</h1>
    <h1>This is an about page</h1>
    <h1>This is an about page</h1>
    <h2>This is an about page</h2>
    <h2>This is an about page</h2>
    
  </div>
</template>
